build/
src/TAGS
src/.tags
src/codegen.gen.cpp
agby.sublime-workspace

*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
*.aps
*.opendb
*.VC.db
*.VC.VC.opendb
*.ipch
*.nvuser
My * Results */
