build/
src/TAGS
src/.tags
src/flatbuffers/world_generated.h
src/ispc/simple.ispc.h
agby.sublime-workspace
.cquery_cached_index/

*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
*.aps
*.opendb
*.VC.db
*.VC.VC.opendb
*.ipch
*.nvuser
My * Results */
